<html>
    <head>
        <title>Covid Tracker</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <link href="https://cdn.bokeh.org/bokeh/release/bokeh-1.0.2.min.css" rel="stylesheet" type="text/css">
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-1.0.2.min.js"></script>

    </head>

    <body style="background-color: whitesmoke;">

      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <h2>COVID-19 Analysis</h2>
          <p style="font-size: 15px; ">- by Niraj Singh</p>
        </a>
      </nav>

      <br>
      <div class = "container">
        <ul class="nav nav-tabs nav-pills ">
          <li class="nav-item">
            <a class="nav-link active bg-dark" href="{{ url_for('covid') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('india') }}">India</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('world') }}" >World</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contribute') }}">Contribute</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('faq') }}">FAQ</a>
          </li>
        </ul>
      </div>

      <br>


      <!-- Footer -->
  <footer class="page-footer font-small bg-dark">
    <div class="footer-copyright text-center py-3">
      <p style="color: azure;">©Niraj 2020</p>
    </div>
  </footer>

    </body>

</html>
